@model DevGoodies.ViewModels.WelcomeBlockViewModel

<div>
  @Html.PropertyFor(x => x.CurrentBlock.WelcomeImage)
</div>

<div>
  <h2>@Html.PropertyFor(x => x.CurrentBlock.WelcomeHeading)</h2>
  <p>@Html.PropertyFor(x => x.CurrentBlock.WelcomeText)</p>
  <p>@Html.PropertyFor(x => x.CurrentBlock.WelcomeLink)</p>
</div>