@using EPiServer.Core
@using DevGoodies.Interfaces
@using DevGoodies.Models.Pages
@using DevGoodies.Business.ExtensionMethods

@model IPageViewModel<BasePage>

<div class="logo">
  @Html.ContentLink(ContentReference.StartPage)
</div>

<ul>
  @foreach (var kvp in Model.PageURLs)
  {
    foreach (string link in kvp.Value)
    {
      <li>@Html.ContentLink(link)</li>
    }
  }
</ul>

@if (User.Identity.IsAuthenticated)
{
  <a href="/en/logout">Log out @User.Identity.Name</a> 
}
else
{
  <a href="@FormsAuthentication.LoginUrl?ReturnUrl=@Model.CurrentPage.ContentLink.ExternalURLFromReference()">Log in</a>
}
