@model DevGoodies.ViewModels.NestedBlockViewModel

<div>
  <h1>@Html.PropertyFor(x => x.CurrentBlock.Title)</h1>
</div>

<div>
  <div>@Html.PropertyFor(x => x.CurrentBlock.BlockContentArea)</div>
</div>